extends layout

block prepend title
    | Home -
    |

block content
    div#headingDiv
        h1 Bookish
        h3 A simple library management API
    div#bodyDiv
        p Welcome to the Bookish website!
        p If you are a code reviewer, head to #[a(href="/specification") /specification] to see a quick list of all the functionality of this site.
        p Otherwise, click the buttons below to take you to places!
        ul
            li idk