extends layout

block prepend title
    | Specification
    |

block content
    div#headingDiv
        h2 Bookish - Specification
    div#bodyDiv
        ul
            li Accessing the API should require an access token acquired by logging in (or registering).
            ul
                li DONE: go to #[a(href="/login") /login] to get a token, test it works with any other link.
            li Show the list of books which are currently checked out in the user's name, and the due date for returns.
            ul
                li DONE: go to #[a(href="/api/users/1/books") /api/users/1/books] for tom's books.
            li Show the library catalogue. This shows a paged view of every book in the catalogue, ordered alphabetically.
            ul
                li DONE: go to #[a(href="/api/books") /api/books]
            li Search books by title or author.
            ul
                li DONE: try
                    | #[a(href="/api/books/isbn/1234567890") /api/books/isbn/1234567890],
                    | #[a(href="/api/books/title/Hello, world!") /api/books/title/Hello, world!],
                    | #[a(href="/api/books/author/Someone famous") /api/books/author/Someone famous]
                    | for a sample book I created.
            li View the number of copies for a book in total, and the number which are currently available. Where some books are unavailable, it shows which user borrowed them, and the date that they're due back.
            ul
                li DONE: try #[a(href="/api/books/copies/1234567890") /api/books/copies/1234567890]
            li Add new books by submitting the book's title, author(s), ISBN, and the number of copies owned by the library.
                | After adding the book some barcode image(s) for the added book copies should be returned by the API so that these can be printed out on labels and stuck on the books.
            ul
                li DONE: try #[a(href="/api/books/add?isbn=147-0258-369&title=test&author=me&copies=1") /api/books/add?isbn=147-0258-369&title=test&author=me&copies=1]